In [1]:
import pandas as pd
import requests
from urllib.parse import quote
from bs4 import BeautifulSoup

In [2]:
url = 'https://youtube-rank.com/board/bbs/board.php?bo_table=youtube&page=4'

In [3]:
res = requests.get(url)
soup = BeautifulSoup(res.text, 'html.parser')

In [4]:
trs = soup.select('form > table > tbody > tr')
len(trs)

100

In [5]:
tr = trs[3]

In [6]:
# 순위
rank = tr.select_one('.rank').get_text().strip()
rank

'304'

In [7]:
# 카테고리
cat = tr.select_one('.category').get_text().strip()
cat

'[음악/댄스/가수]'

In [8]:
# 채널
channel = tr.select_one('h1 > a').get_text().strip()
channel

'ARIRANG K-POP'

In [9]:
# 구독자 
sub = tr.select_one('.subscriber_cnt').get_text().strip()
sub = int(sub[:-1])*10000
sub

1940000

In [10]:
# 조회수 view_cnt
view = tr.select_one('.view_cnt').get_text().strip()
if '억' in view:
    view = int(''.join(view.split('억'))[:-1]) * 10000
else:
    view = int(view[:-1]) * 10000
view

862830000

In [11]:
# video 
video = tr.select_one('.video_cnt').get_text().strip()
video = int(video[:-1].replace(',', ''))
video

32051

In [12]:
# mini 조회수
mini_view = tr.select_one('.hit > strong').get_text().strip()
mini_view = int(mini_view.replace(',', ''))
mini_view

2260

In [14]:
temp = []
for i in range(1, 11):
    url = f'https://youtube-rank.com/board/bbs/board.php?bo_table=youtube&page={str(i)}'
    res = requests.get(url)
    soup = BeautifulSoup(res.text, 'html.parser')
    trs = soup.select('form > table > tbody > tr')
    for tr in trs:
        rank = tr.select_one('.rank').get_text().strip()
        cat = tr.select_one('.category').get_text().strip()
        channel = tr.select_one('h1 > a').get_text().strip()
        sub = tr.select_one('.subscriber_cnt').get_text().strip()
        sub = int(sub[:-1])*10000
        view = tr.select_one('.view_cnt').get_text().strip()
        view = int(''.join(view.split('억'))[:-1]) * 10000
        video = tr.select_one('.video_cnt').get_text().strip()
        video = int(video[:-1].replace(',',''))
        mini_view = tr.select_one('.hit > strong').get_text().strip()
        mini_view = int(mini_view.replace(',', ''))
        temp.append({'rank':rank, 'cat':cat, 'channel':channel, 'sub':sub, 'view':view, 'video':video, 'mini_view':mini_view})
temp

ValueError: invalid literal for int() with base 10: ''

In [ ]:
df = pd.DataFrame(temp)
df

,rank,cat,channel,sub,view,video,mini_view
0,1,[음악/댄스/가수],BLACKPINK,87300000,3053350305335030533503053350305335030533503053...,507,26100
1,2,[음악/댄스/가수],BANGTANTV,74500000,2014300201430020143002014300201430020143002014...,2188,10904
2,3,[음악/댄스/가수],HYBE LABELS,70300000,2732316273231627323162732316273231627323162732...,1158,13018
3,4,[음악/댄스/가수],SMTOWN,31600000,2679481267948126794812679481267948126794812679...,4110,7801
4,5,[음악/댄스/가수],JYP Entertainment,26800000,1927507192750719275071927507192750719275071927...,1668,6941
...,...,...,...,...,...,...,...
995,991,[회사/오피셜],LG Uplus,730000,1379981379981379981379981379981379981379981379...,2473,2384
996,998,[BJ/인물/연예인],케이,730000,5726757267572675726757267572675726757267572675...,3304,2374
997,1001,[미분류],백크 Baekk,720000,4573245732457324573245732457324573245732457324...,1106,105
998,999,[음악/댄스/가수],Crush,720000,3954639546395463954639546395463954639546395463...,131,798
999,997,[BJ/인물/연예인],bobaepapa - 보배아빠,720000,3484434844348443484434844348443484434844348443...,393,2546

In [ ]:
from selenium import webdriver
import time
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')

driver = webdriver.Chrome('C:/Users/YONSAI/Desktop/chromedriver_win32/chromedriver.exe')
driver.get(url)

In [ ]:
soup = BeautifulSoup(driver.page_source, 'html.parser')
trs = soup.select('.aos-init')
len(trs)

100

In [ ]:
tr = trs[0]

In [ ]:
# 순위
rank = tr.select_one('.rank').get_text().strip()
rank

'1'

In [ ]:
# 카테고리
cat = tr.select_one('.category').get_text().strip()
cat = cat[1:-1]
cat

'음악/댄스/가수'

In [ ]:
# 채널
channel = tr.select_one('h1 > a').get_text().strip()
channel

'BLACKPINK'

In [ ]:
# 구독자 
sub = tr.select_one('.subscriber_cnt').get_text().strip()
sub = int(sub[:-1])*10000
sub

87300000

In [ ]:
# 조회수 view_cnt
view = tr.select_one('.view_cnt').get_text().strip()
if '억' in view:
    view = int(''.join(view.split('억'))[:-1]) * 10000
else:
    view = int(view[:-1]) * 10000
view

30533500000

In [ ]:
# video 
video = tr.select_one('.video_cnt').get_text().strip()
video = int(video[:-1])
video

507

In [ ]:
# mini 조회수
mini_view = tr.select_one('.hit > strong').get_text().strip()
mini_view = int(mini_view.replace(',', ''))
mini_view

26100

In [ ]:
url = 'https://youtube-rank.com/board/bbs/board.php?bo_table=youtube&page=1'

In [ ]:
for page in range(1, 11):