### 4. 고급인덱싱

In [2]:
import numpy as np
import pandas as pd

#### 4.1 loc 인덱서

- 인수가 한 개인 경우 : 행 선택

In [3]:
df = pd.DataFrame(np.arange(10, 22).reshape(3, 4),
                  index=["x", "y", "z"],
                  columns=["A", "B", "C", "D"])
df

    A   B   C   D
x  10  11  12  13
y  14  15  16  17
z  18  19  20  21

In [4]:
df.loc['y']         # 행데이터를 시리즈로 반환

A    14
B    15
C    16
D    17
Name: y, dtype: int32

In [5]:
df.loc['x':'y']

    A   B   C   D
x  10  11  12  13
y  14  15  16  17

In [6]:
df.A > 15

x    False
y    False
z     True
Name: A, dtype: bool

In [7]:
df[df.A > 15]

    A   B   C   D
z  18  19  20  21

- 인수가 두개인 경우

In [8]:
df.loc['y', 'B']            # 행 인덱스, 열 인덱스 순

15

In [9]:
df.loc['y':'z', 'B':'C']    # 슬라이싱 가능

    B   C
y  15  16
z  19  20

#### 4.2 iloc 인덱서 : loc는 이름으로 찾는 반면 iloc는 인덱스넘버로 찾음

In [10]:
df.iloc[1]      # 'y'행, 인덱스 값은 1

A    14
B    15
C    16
D    17
Name: y, dtype: int32

In [11]:
df.iloc[:2]     # 숫자는 [ ) : 이상, 미만 / 문자열은 [ ] : 이상, 이하

    A   B   C   D
x  10  11  12  13
y  14  15  16  17

In [12]:
df.iloc[1, 1]

15

- 연습문제

In [13]:
#1 모든 행과 열에 라벨을 가지는 5 x 5 이상의 크기를 가지는 데이터프레임을 만든다.
df = pd.DataFrame(np.arange(1, 26).reshape(5, 5), index=list('ABCDE'), columns=list('xyzij'))
df

    x   y   z   i   j
A   1   2   3   4   5
B   6   7   8   9  10
C  11  12  13  14  15
D  16  17  18  19  20
E  21  22  23  24  25

In [17]:
#2 10가지 이상의 방법으로 특정한 행과 열을 선택한다.
df.loc['C', 'z'], df.z['C'], df.z.C, df.z[2], df['z'][2]

(13, 13, 13, 13, 13)

In [16]:
df.iloc[2, 2], df.iloc[2][2], df.iloc[2]['z'], df.iloc[2].z

(13, 13, 13, 13)

In [ ]:
df['z']['C']

13