### 문자열 조작

In [1]:
import numpy as np
import pandas as pd

- 데이터 탐색

In [2]:
df = pd.read_csv('data/법정동코드 전체자료.txt', sep='\t', encoding='euc-kr')
df.head()

        법정동코드           법정동명 폐지여부
0  1100000000          서울특별시   존재
1  1111000000      서울특별시 종로구   존재
2  1111010100  서울특별시 종로구 청운동   존재
3  1111010200  서울특별시 종로구 신교동   존재
4  1111010300  서울특별시 종로구 궁정동   존재

In [3]:
df.shape, df.size

((46328, 3), 138984)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46328 entries, 0 to 46327
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   법정동코드   46328 non-null  int64
 1   법정동명    46328 non-null  object
 2   폐지여부    46328 non-null  object
dtypes: int64(1), object(2)
memory usage: 1.1+ MB

In [5]:
df.폐지여부.value_counts()

폐지여부
폐지    25777
존재    20551
Name: count, dtype: int64

In [6]:
# 폐지된 주소 삭제(filtering)
df = df[df.폐지여부 == '존재']
df.shape

(20551, 3)

- 인덱싱

In [7]:
df.법정동명.str[:5].head()

0    서울특별시
1    서울특별시
2    서울특별시
3    서울특별시
4    서울특별시
Name: 법정동명, dtype: object

In [8]:
df.head()

        법정동코드           법정동명 폐지여부
0  1100000000          서울특별시   존재
1  1111000000      서울특별시 종로구   존재
2  1111010100  서울특별시 종로구 청운동   존재
3  1111010200  서울특별시 종로구 신교동   존재
4  1111010300  서울특별시 종로구 궁정동   존재

- 찾기 : find, contains

In [9]:
df.법정동명.str.find('종로구').head()

0   -1
1    6
2    6
3    6
4    6
Name: 법정동명, dtype: int64

In [10]:
df.법정동명.str.contains('종로구')

0        False
1         True
2         True
3         True
4         True
         ...
46323    False
46324    False
46325    False
46326    False
46327    False
Name: 법정동명, Length: 20551, dtype: bool

In [11]:
# 경기도만 추출
df1 = df[df.법정동명.str.contains('경기도')]
df1.tail(7), df1.shape

(            법정동코드              법정동명 폐지여부
 10078  4183041027    경기도 양평군 개군면 부리   존재
 10079  4183041028   경기도 양평군 개군면 자연리   존재
 10080  4183041029    경기도 양평군 개군면 내리   존재
 10081  4183041030    경기도 양평군 개군면 향리   존재
 10082  4183041031   경기도 양평군 개군면 주읍리   존재
 10083  4183041032   경기도 양평군 개군면 계전리   존재
 10084  4183041033  경기도 양평군 개군면 상자포리   존재,
 (2211, 3))

In [12]:
# 수원시만 추출
df2 = df1[df1.법정동명.str.contains('수원시')]
df2.head(7), df2.shape

(           법정동코드             법정동명 폐지여부
 4819  4111000000          경기도 수원시   존재
 4884  4111100000      경기도 수원시 장안구   존재
 4913  4111112900  경기도 수원시 장안구 파장동   존재
 4914  4111113000  경기도 수원시 장안구 정자동   존재
 4915  4111113100  경기도 수원시 장안구 이목동   존재
 4916  4111113200  경기도 수원시 장안구 율전동   존재
 4917  4111113300  경기도 수원시 장안구 천천동   존재,
 (61, 3))

In [13]:
# 파장동 인덱싱
df2.법정동명[4913], df2.iloc[2, 1]

('경기도 수원시 장안구 파장동', '경기도 수원시 장안구 파장동')

- 분할 메서드 : split

In [14]:
df2.법정동명.str.split().head()

4819              [경기도, 수원시]
4884         [경기도, 수원시, 장안구]
4913    [경기도, 수원시, 장안구, 파장동]
4914    [경기도, 수원시, 장안구, 정자동]
4915    [경기도, 수원시, 장안구, 이목동]
Name: 법정동명, dtype: object

- 대체 메서드: replace, 문자열의 replace 메서드와 달리, 정규표현식 사용 가능

In [15]:
df2.법정동명.str.replace(' ', '_').head()

4819            경기도_수원시
4884        경기도_수원시_장안구
4913    경기도_수원시_장안구_파장동
4914    경기도_수원시_장안구_정자동
4915    경기도_수원시_장안구_이목동
Name: 법정동명, dtype: object

In [16]:
# 초성이 ㅅ, ㅇ 인 경우 blank로
df2.법정동명.str.replace('[사-잏]', ' ', regex=True).head()

4819            경기도
4884        경기도     장 구
4913    경기도     장 구 파장동
4914    경기도     장 구 정자동
4915    경기도     장 구  목동
Name: 법정동명, dtype: object

- cctv 데이터

In [17]:
filename = 'data/서울시 자치구 년도별 CCTV 설치 현황_221231기준.csv'
cctv = pd.read_csv(filename, encoding='euc-kr')
cctv.head()

,구분,총계,2013년 이전설치된 CCTV,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년,2022년
0,계,"91,341","2,804","3,097","3,981","6,576","8,850","11,566","11,024","13,151","11,912","9,144","9,236"
1,종로구,"1,980",36,540,107,161,131,158,152,69,250,85,291
2,중 구,"2,584",130,87,77,236,240,372,386,155,361,403,137
3,용산구,"2,847",44,50,68,83,295,491,115,322,623,422,334
4,성동구,"4,047",58,99,110,366,279,945,459,647,485,367,232

In [18]:
# 총계 데이터를 정수로 변환
cctv['총계'] = cctv.총계.str.replace(',', '').astype(int)
cctv

,구분,총계,2013년 이전설치된 CCTV,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년,2022년
0,계,91341,"2,804","3,097","3,981","6,576","8,850","11,566","11,024","13,151","11,912","9,144","9,236"
1,종로구,1980,36,540,107,161,131,158,152,69,250,85,291
2,중 구,2584,130,87,77,236,240,372,386,155,361,403,137
3,용산구,2847,44,50,68,83,295,491,115,322,623,422,334
4,성동구,4047,58,99,110,366,279,945,459,647,485,367,232
5,광진구,3480,507,82,84,64,21,465,443,709,172,662,271
6,동대문구,2759,1,4,12,107,802,711,201,218,223,221,259
7,중랑구,4193,224,331,104,145,153,170,215,"1,074",976,507,294
8,성북구,4842,137,170,229,322,594,811,867,714,253,407,338
9,강북구,3321,0,21,16,68,210,4,375,963,569,298,797
10,도봉구,2247,103,2,79,72,103,117,200,202,183,600,586
11,노원구,2617,77,153,75,510,329,172,216,326,387,220,152
12,은평구,4653,17,44,332,329,555,403,635,"1,057",288,471,522
13,서대문구,3445,312,144,127,77,254,524,389,344,587,207,480
14,마포구,2628,21,40,109,170,458,376,368,494,298,177,117
15,양천구,3851,197,139,128,239,422,563,830,311,337,338,347
16,강서구,3265,67,59,202,193,168,506,259,458,359,439,555
17,구로구,4693,37,361,193,269,353,563,545,794,651,684,243
18,금천구,2636,0,0,43,361,133,196,539,367,513,207,277
19,영등포구,4553,109,81,295,360,285,422,803,153,"1,357",329,359
20,동작구,2671,66,25,502,127,256,271,300,307,432,30,355
21,관악구,5398,362,244,302,537,607,676,662,890,404,550,164
22,서초구,4995,74,86,70,559,518,"1,054",426,344,422,566,876
23,강남구,7243,59,62,573,826,"1,295",989,744,790,923,514,468
24,송파구,3203,84,78,88,221,163,256,516,"1,081",224,139,353
25,강동구,3190,82,195,56,174,226,351,379,362,635,301,429

In [27]:
# 나머지 컬럼도 천단위 구분기호 없애고 정수로 변환
for i in cctv[2:]:
    cctv[i] = cctv[i].str.replace(',', '').astype(int)
cctv

AttributeError: 'DataFrame' object has no attribute 'i'

In [22]:
for i in cctv.index:
    print(cctv.구분[i], len[cctv.구분[i]])

TypeError: 'builtin_function_or_method' object is not subscriptable

- 파일을 제대로 읽는 방법

In [24]:
cctv = pd.read_csv(filename, encoding='euc-kr', thousands=',')
cctv.head()

,구분,총계,2013년 이전설치된 CCTV,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년,2022년
0,계,91341,2804,3097,3981,6576,8850,11566,11024,13151,11912,9144,9236
1,종로구,1980,36,540,107,161,131,158,152,69,250,85,291
2,중 구,2584,130,87,77,236,240,372,386,155,361,403,137
3,용산구,2847,44,50,68,83,295,491,115,322,623,422,334
4,성동구,4047,58,99,110,366,279,945,459,647,485,367,232

In [25]:
type(cctv['총계'][0])

numpy.int64