### 8. 시계열 자료 다루기

In [1]:
import numpy as np
import pandas as pd

- DatetimeIndex

In [18]:
# 기본 포맷 / datetype format은 단일로 통일되야함
date_str = ['2023, 4, 17']              
idx = pd.to_datetime(date_str)
idx

DatetimeIndex(['2023-04-17'], dtype='datetime64[ns]', freq=None)

In [17]:
idx = pd.to_datetime(['2023-04-17'])
idx

DatetimeIndex(['2023-04-17'], dtype='datetime64[ns]', freq=None)

In [19]:
date_str = ['2023-04-17', '2023-04-18', '2023-04-19', '2023-04-20', '2023-04-21']
idx = pd.to_datetime(date_str)
idx

DatetimeIndex(['2023-04-17', '2023-04-18', '2023-04-19', '2023-04-20',
               '2023-04-21'],
              dtype='datetime64[ns]', freq=None)

In [21]:
df = pd.DataFrame(np.random.randint(60, 100, 5), columns=['score'], index=idx)
df

            score
2023-04-17     68
2023-04-18     74
2023-04-19     71
2023-04-20     88
2023-04-21     74

In [23]:
pd.date_range('2023.4.1', '2023.4.30')       # 시작일자 ~ 종료일자 ranging

DatetimeIndex(['2023-04-01', '2023-04-02', '2023-04-03', '2023-04-04',
               '2023-04-05', '2023-04-06', '2023-04-07', '2023-04-08',
               '2023-04-09', '2023-04-10', '2023-04-11', '2023-04-12',
               '2023-04-13', '2023-04-14', '2023-04-15', '2023-04-16',
               '2023-04-17', '2023-04-18', '2023-04-19', '2023-04-20',
               '2023-04-21', '2023-04-22', '2023-04-23', '2023-04-24',
               '2023-04-25', '2023-04-26', '2023-04-27', '2023-04-28',
               '2023-04-29', '2023-04-30'],
              dtype='datetime64[ns]', freq='D')

In [26]:
pd.date_range('4/1/23', periods=30)

DatetimeIndex(['2023-04-01', '2023-04-02', '2023-04-03', '2023-04-04',
               '2023-04-05', '2023-04-06', '2023-04-07', '2023-04-08',
               '2023-04-09', '2023-04-10', '2023-04-11', '2023-04-12',
               '2023-04-13', '2023-04-14', '2023-04-15', '2023-04-16',
               '2023-04-17', '2023-04-18', '2023-04-19', '2023-04-20',
               '2023-04-21', '2023-04-22', '2023-04-23', '2023-04-24',
               '2023-04-25', '2023-04-26', '2023-04-27', '2023-04-28',
               '2023-04-29', '2023-04-30'],
              dtype='datetime64[ns]', freq='D')

In [28]:
pd.date_range('04/01/23', '04/30/23', freq='B')     # freq='B' : buisiness day, 주말제외 평일

DatetimeIndex(['2023-04-03', '2023-04-04', '2023-04-05', '2023-04-06',
               '2023-04-07', '2023-04-10', '2023-04-11', '2023-04-12',
               '2023-04-13', '2023-04-14', '2023-04-17', '2023-04-18',
               '2023-04-19', '2023-04-20', '2023-04-21', '2023-04-24',
               '2023-04-25', '2023-04-26', '2023-04-27', '2023-04-28'],
              dtype='datetime64[ns]', freq='B')

In [30]:
# 1년 중 각 월의 주말이 아닌 시작일
pd.date_range('01/01/23', '12/31/23', freq='BMS')

DatetimeIndex(['2023-01-02', '2023-02-01', '2023-03-01', '2023-04-03',
               '2023-05-01', '2023-06-01', '2023-07-03', '2023-08-01',
               '2023-09-01', '2023-10-02', '2023-11-01', '2023-12-01'],
              dtype='datetime64[ns]', freq='BMS')

- resample

In [32]:
ts = pd.DataFrame(np.random.randint(100, 1000, 100), index=pd.date_range('20230101', periods=100))
ts

              0
2023-01-01  724
2023-01-02  523
2023-01-03  699
2023-01-04  564
2023-01-05  791
...         ...
2023-04-06  749
2023-04-07  297
2023-04-08  786
2023-04-09  396
2023-04-10  342

[100 rows x 1 columns]

In [33]:
ts.resample('M').first()

              0
2023-01-31  724
2023-02-28  763
2023-03-31  893
2023-04-30  184

In [34]:
ts.resample('W').first()

              0
2023-01-01  724
2023-01-08  523
2023-01-15  364
2023-01-22  618
2023-01-29  694
2023-02-05  700
2023-02-12  117
2023-02-19  531
2023-02-26  701
2023-03-05  708
2023-03-12  352
2023-03-19  134
2023-03-26  228
2023-04-02  677
2023-04-09  287
2023-04-16  342