### SQLite3 활용

In [2]:
import sqlite3 as sq

- DB에 접속해서 데이터 읽기

In [13]:
# member table에 있는 데이터 모두 읽기
conn = sq.connect('testdb.db')
cur = conn.cursor()

sql = 'select * from member;'
cur.execute(sql)
rows = cur.fetchall()

cur.close()
conn.close()

In [14]:
for row in rows:
    print(row, type(row))

(1, '제임스', 1) <class 'tuple'>
(2, '마리아', 2) <class 'tuple'>
(3, '홍길동', 1) <class 'tuple'>

In [12]:
# member table에 남자 데이터 읽기
conn = sq.connect('testdb.db')
cur = conn.cursor()

sql = 'select * from member where gender=1;'
cur.execute(sql)
rows = cur.fetchall()

cur.close()
conn.close()

for row in rows:
    print(row, type(row))

(1, '제임스', 1) <class 'tuple'>
(3, '홍길동', 1) <class 'tuple'>

In [15]:
# 일반적인 케이스
def get_members_by_gender(gender):
    conn = sq.connect('testdb.db')
    cur = conn.cursor()

    sql = 'select * from member where gender=?;'
    cur.execute(sql, (gender, ))        # 파라미터는 반드시 튜플로 적용, (gender, ) 부분이 파라미터
    rows = cur.fetchall()

    cur.close()
    conn.close()
    return rows

In [16]:
results = get_members_by_gender(1)
for result in results:
    print(result)

(1, '제임스', 1)
(3, '홍길동', 1)

In [17]:
# mid에 해당하는 데이터(1개) 가져오기
def get_member_by_mid(mid):
    conn = sq.connect('testdb.db')
    cur = conn.cursor()

    sql = 'select * from member where mid=?;'
    cur.execute(sql, (mid, ))        # 파라미터는 반드시 튜플로 적용, (gender, ) 부분이 파라미터
    row = cur.fetchone()       # 단일 튜플 선택 시 fetchone 사용

    cur.close()
    conn.close()
    return row

In [19]:
result = get_member_by_mid(2)
print(result[0], result[1], result[2])

2 마리아 2

- 데이터 추가하기

In [20]:
def insert_member(params):
    conn = sq.connect('testdb.db')
    cur = conn.cursor()

    sql = 'insert into member(mname, gender) values (?, ?)'
    cur.execute(sql, params)
    conn.commit()       # DB 내용을 변경하는 경우(CUD)에는 승인(저장) 해줘야 DB에 적용됨

    cur.close()
    conn.close()

In [23]:
params = ('차정숙', 2 )
insert_member(params)
results = get_members_by_gender(2)
for result in results:
    print(result)

(2, '마리아', 2)
(4, '차정숙', 2)
(5, '차정숙', 2)
(6, '차정숙', 2)

- 데이터수정

In [32]:
def update_member(params):
    conn = sq.connect('testdb.db')
    cur = conn.cursor()

    sql = 'update member set mname=?, gender=? where mid=?;'
    cur.execute(sql, params)
    conn.commit()       # DB 내용을 변경하는 경우(CUD)에는 승인(저장) 해줘야 DB에 적용됨

    cur.close()
    conn.close()

In [29]:
params = ('테스트', 1)
insert_member(params)

(3, '홍길동', 1)

In [30]:
results = get_members_by_gender(1)
for result in results:
    print(result)

(1, '제임스', 1)
(3, '홍길동', 1)
(7, '테스트', 1)
(8, '테스트', 1)

In [33]:
params = ('테스트2', 2, 7)
update_member(params)       # 파라미터 순서에 주의할 것

In [34]:
rows= get_members_by_gender(2)
for row in rows:
    print(row)

(2, '마리아', 2)
(4, '차정숙', 2)
(5, '차정숙', 2)
(6, '차정숙', 2)
(7, '테스트2', 2)

- 데이터 삭제

In [37]:
def delete_member(mid):
    conn = sq.connect('testdb.db')
    cur = conn.cursor()

    sql = 'delete from member where mid=?'
    cur.execute(sql, (mid,))
    conn.commit()       # DB 내용을 변경하는 경우(CUD)에는 승인(저장) 해줘야 DB에 적용됨

    cur.close()
    conn.close()

In [38]:
delete_member(5)

In [39]:
rows= get_members_by_gender(2)
for row in rows:
    print(row)

(2, '마리아', 2)
(4, '차정숙', 2)
(6, '차정숙', 2)
(7, '테스트2', 2)