### DAO를 이용하여 데이터베이스 활용하기

In [1]:
import member_dao as mdao

In [2]:
mdao.get_members()

[(1, '제임스', 1),
 (2, '마리아', 2),
 (3, '홍길동', 1),
 (4, '차정숙', 2),
 (6, '차정숙', 2),
 (7, '테스트2', 2),
 (8, '테스트', 1)]

In [7]:
mdao.delete_member(8)

In [8]:
mdao.get_members()

[(1, '제임스', 1), (2, '마리아', 2), (3, '홍길동', 1), (4, '차정숙', 2)]

In [9]:
rows = mdao.get_members()
for row in rows:
    print(f'mid: {row[0]}, mname: {row[1]}, gender: {row[2]}')

mid: 1, mname: 제임스, gender: 1
mid: 2, mname: 마리아, gender: 2
mid: 3, mname: 홍길동, gender: 1
mid: 4, mname: 차정숙, gender: 2

In [10]:
# name = request.form['name']
# gender = request.form['gender']
name, gender = '최범준', '남자'
params = (name, gender)
mdao.insert_member(params)
mdao.get_members()

[(1, '제임스', 1), (2, '마리아', 2), (3, '홍길동', 1), (4, '차정숙', 2), (9, '최범준', '남자')]

In [11]:
mdao.update_member(('최범준', 1, 9))
mdao.get_members()

[(1, '제임스', 1), (2, '마리아', 2), (3, '홍길동', 1), (4, '차정숙', 2), (9, '최범준', 1)]

In [12]:
mdao.delete_member(9)

In [13]:
print(mdao.get_members())

[(1, '제임스', 1), (2, '마리아', 2), (3, '홍길동', 1), (4, '차정숙', 2)]